extends ../layouts/main
block content
	h1.mt-5 Signup
	if errors
		each error in errors
			.alert.alert-danger= error
	form(action='/auth/signup', method='POST')
		.form-group
			label(for='name') Name:
			input#name.form-control(type='text', name='name', value=formData?formData.name:'')
		.form-group
			label(for='phone') Phone:
			input#phone.form-control(type='text', name='phone', value=formData?formData.phone:'')
		.form-group
			label(for='email') Email:
			input#email.form-control(type='email', name='email', value=formData?formData.email:'')
		.form-group
			label(for='password') Password:
			input#password.form-control(type='password', name='password', value=formData?formData.password:'')
		.form-group
			label(for='confirm-password') Confirm Password:
			input#confirm-password.form-control(type='password', name='confirmPassword')
		button.btn.btn-primary(type='submit') Signup