extends ../layouts/main
block content
	.mt-5
		a.btn.btn-primary(href='/books/create') Add new book
	form.form-inline(action='/books/search' method='GET') 
		.form-group.mt-3.d-flex.align-items-center.justify-content-between
			input.form-control(type='text' name='q', value=q, placeholder='Search?')
			button.btn.btn-success Search
	h1.mt-5 books list
	.list-user.mt-5
		table.table
			tr
				th #
				th Image
				th Name
				th Author
				th Action
			each book, index in books
				tr
					td= index+1
					td
						img(src=book.image, width='30px')
					td= book.name
					td= book.author
					td 
						a.btn.btn-light(href='/books/' + book.id) View
						a.btn.btn-info(href='/books/' + book.id) Edit
						a.btn.btn-danger(href='/books/' + book.id) Delete