extends ../layouts/main
block content
    h1.mt-5 Products
    .row
        each product in products
            .col-md-3.mt-5
                .card
                    img.card-img-top(src=product.image alt=product.name)
                    .card-body
                        h5.card-title=product.name
                        p.card-text=product.description
                        a.btn.btn-primary(href='#') Add to cart

    .row.d-flex.justify-content-end.pr-3.pt-5.mb-5
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-center
                if (page >3)
                    li.page-item
                        a.page-link(href=`/products?page=${prevPage}`)
                            span(aria-hidden='true') &laquo;

                - var start = 0
                - var number = page
                - var end = totalPages
                if number > 3
                    - var start = number-3;
                if number > 0 && number < totalPages - 2
                    - var end = number + 2
                while start < number -1
                    li.page-item
                        a.page-link(href=`/products?page=${start+1}`)=++start
                li.page-item.active
                    a.page-link(href=`#`)=number
                while number < end
                    li.page-item
                        a.page-link(href=`/products?page=${number+1}`)=++number
                if page < totalPages-2
                    li.page-item
                        a.page-link(href=`/products?page=${nextPage}`)
                            span(aria-hidden='true') &raquo;
