extends ../layouts/main
block content
    h1.mt-5 Products
    .row
        each product in products
            .col-md-3.mt-5
                .card
                    img.card-img-top(src=product.image alt=product.name)
                    .card-body
                        h5.card-title=product.name
                        p.card-text=product.description
                        a.btn.btn-primary(href='#') Add to cart
    .row.d-flex.justify-content-end.pr-3.pt-5.mb-5
        nav(aria-label='Page navigation example')
            ul.pagination.justify-content-center
                if (page >1)
                    li.page-item
                        a.page-link(href=`/products?page=${prevPage}`) Previous

                - var n = 0
                - var m = totalPages
                if page > 3
                    - var n = page-3;
                if page > 0 && page < totalPages - 2
                    - var m = page + 2
                while n < page -1
                    li.page-item
                        a.page-link(href=`/products?page=${n+1}`)=++n
                li.page-item.active
                    a.page-link(href=`#`)=page
                while page < m
                    li.page-item
                        a.page-link(href=`/products?page=${page+1}`)=++page
                if (page < totalPages)
                    li.page-item
                        a.page-link(href=`/products?page=${nextPage}`) Next



